<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Coming Soon...</h1>
            <hr>
            <p>Advon Analytics is a boutique services firm focused on data analytics and education. Advon is a veteran owned firm with decades of combined experience in leadership, initiative, adaptability and big-decision making. We are specifically equipped to deliver very low time-to-value and unparalleled service.</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
